.container {
  display: flex;
  flex-direction: column;

  .label {
    margin-bottom: var(--spacing-half);
  }

  .inputContainer {
    position: relative;

    .eyeIcon {
      position: absolute;
      right: var(--spacing-2);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .input {
    width: 100%;
    padding: var(--spacing-2);
    font-size: var(--font-size-body);
    color: var(--color-gray-lightest);
    border-radius: 5px;
    border: 0;
    background-color: var(--color-field-bg-default);
    outline: none;

    &:focus {
      background-color: var(--color-field-bg-selected);
    }
  }
}