@mixin typographyButtonSemiBold {
  font-family: var(--font-primary-family);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-semiBold);
}

@mixin typographyButtonBold {
  font-family: var(--font-primary-family);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-bold);
}

@mixin typographyCaptionRegular {
  font-family: var(--font-primary-family);
  font-size: var(--font-size-caption);
}