:root {
  --font-primary-family: 'Poppins', sans-serif;

  // Font Sizes
  --font-size-title: 1.25rem; // 20 px
  --font-size-button: 0.875rem; // 14px
  --font-size-body: 0.8125rem; // 13px
  --font-size-caption: 0.6875rem; // 11px

  // Font Weights
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semiBold: 500;
  --font-weight-bold: 600;
  --font-weight-xbold: 700;
  --font-weight-black: 800;
  --font-weight-xblack: 900;
}